#data files
*.csv
*.xlsx
*.xls
*.dta
*.txt

#documents and other files
*.pdf
*.docx
*.pptx
*.zip
*.rtf
*.Rmd

ReportTemplate/Archive/
Documents/State of the Program/
R/DEV.R

# Windows image file caches
Thumbs.db
ehthumbs.db
*.png

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.Rproj.user
